<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  <httpHandlers>
    <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
  </httpHandlers>
  </system.web>

  <!-- Required for IIS 7.0 (and above?) -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />


  <handlers>
    <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />        
  </handlers>
  </system.webServer>

  <appSettings>
    <add key="oauth.facebook.Permissions" value="email,read_stream,offline_access,user_likes" />
    <add key="oauth.facebook.AppId" value="1452343408338776" />
    <add key="oauth.facebook.AppSecret" value="8c259b020ee46c64848bfe4a1e2e4260" />
    <add key="oauth.facebook.RedirectUrl" value="http://localhost:8080/app/" />
    <add key="oauth.facebook.CallbackUrl" value="http://localhost:8080/auth/facebook" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.9.1.221" newVersion="1.9.1.221" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.9.1.221" newVersion="1.9.1.221" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
