    <p>Ułóż poniższe cechy zaczynając od tej, którą najbardziej cenisz.</p>
<div class="listview-outlook" data-role="listview" ui-sortable="sortableOptions" ng-model="list">
        <div class="list" ng-repeat="item in list">
            <div class="list-content">
                <span class="list-title">{{item.name}}</span>
                <span class="list-remark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </div>
        </div>
    </div>
<br/>
    <input value="Oblicz decyzję" type="submit" ng-click="calculate()">