<header class="bg-dark">
    <div class="navigation-bar dark fixed-top shadow">
        <div class="navigation-bar-content container">
            <a href="#home" class="element"><span class="icon-user on-left-more"></span> SWD WYBÓR UCZELNI </a>
            <span class="element-divider place-right"></span>
            <a href="#decision" class="element place-right element-menu">Wybór uczelni</a>
            <span class="element-divider place-right"></span>
            <a href="#rate" class="element place-right element-menu">Ocena uczelni</a>
            <span class="element-divider place-right"></span>
            <a href="#averages" class="element place-right element-menu">Porównanie uczelni</a>
            <span class="element-divider place-right"></span>
        </div>
    </div>
</header>